- doc_file_rand = "rand_doc_#{1+Random.rand(21890232190823212)}"
%tr
  %td
    %i.glyphicon.glyphicon-file.big
    - if doc.filename.include?("pdf")
      = link_to doc.filename, "#", "data-id" => doc_file_rand, :class => "show_doc_embed_file"
    - else
      = link_to doc.filename, "#", "data-id" => doc_file_rand, :class => "not_pdf"
  %td= doc.created_at.to_s(:short)
  %td= current_user.name
  %td
    = link_to "Assigned"
        
  %td{:class => "users_#{dom_id(doc)}"}
    
    = render "docs/assign_users_process", :doc => doc
%tr
  %td.hidden_item.file_iframe{:colspan => 5, :style => "height: 1200px", :id => doc_file_rand}
    %iframe{:src => "http://docs.google.com/gview?url=#{show_file_doc_url(doc)}&embedded=true", :style => "width: 100%; height: 400px", :frameborder => 0}