- current_user.widgets.each do |widget|
    
  - case widget.widget_type

  - when "transactions_summary_grid"
    = render "widget_1", :title => "Transactions Summary Grid", :widget => widget, :transactions => widget.transactions_list

  - when "transactions_summary"
    = render "widget_4", :title => "Transactions Summary by Category", :widget => widget, :transactions => widget.transactions_list

  - when "transactions_past"
    = render "widget_2", :title => "Transactions Past Their Closing Date", :transactions => widget.transactions_list, :widget => widget

  - when "transaction_added"
    = render "widget_2", :transactions => widget.transactions_list, :title => "Transactions Added In The Past 30 Days", :widget => widget

  - when "unreviewed_documents"
    = render "widget_2", :transactions => widget.transactions_list, :title => "Transactions With Unreviewed Documents", :widget => widget

  - when "transactions_alosing"
    = render "widget_2", :transactions => widget.transactions_list, :title => "Transactions Closing In The Next 30 Days", :widget => widget

  - when "recent_activity"
    = render "widget_3", :title => "Recent Activity", :widget => widget

  - when "listings"
    = render "widget_2", :transactions => widget.transactions_list, :title => "Listings", :widget => widget
