= link_to "Transactions Index", page_path("transactions_index")
%br
= link_to "Transactions Show", page_path("transactions_show")
%br
= link_to "Transactions Edit", page_path("transactions_edit")
%br
= link_to "Profile Show", page_path("profile_show")
%br
= link_to "Profile Edit", page_path("profile_edit")
%br
= link_to "Library", page_path("library")
%br
= link_to "Contacts", page_path("contacts")
%br
= link_to "Dashboard", page_path("dashboard")
%br
= link_to "Settings Page 1", page_path("settings_page_1")
%br
= link_to "Settings Page 2", page_path("settings_page_2")
%br
= link_to "Settings Page 3", page_path("settings_page_3")
%br
= link_to "Settings Page 4", page_path("settings_page_4")
%br
= link_to "Settings Page 5", page_path("settings_page_5")
%br
= link_to "Settings Page 6", page_path("settings_page_6")
%br
= link_to "Settings Page 7", page_path("settings_page_7")