.col-md-12
  %ul#myTab.nav.nav-tabs
    %li.active
      %a{:href => "#existing_contact", "data-toggle" => "tab"} Add Existing Contact
    %li
      %a{:href => "#new_contact", "data-toggle" => "tab"} Add New Contact
  .tab-content
    #existing_contact.tab-pane.active
      .alert.created_alert.hidden_item.fade.in Contact successfully created
      = form_for @transaction, :url => add_new_contact_transactions_path, :method => :post, :remote => true, :html => {:class => "json_validate new_transaction_contact"} do |f|
      
        %span.default_right_padding Add existing contact
        = f.autocomplete_field :company_name, autocomplete_user_fullname_transactions_path, :placeholder => "start typing contact`s name"
        %span.default_right_padding Role
        = collection_select(:transaction, :role_id, Role.all, :id, :name, :prompt => 'Please select role', :style => "width: 165px") 
      
        = f.submit "Add", :class => "btn btm-info btn-small" 
        = link_to "Cancel", "#", :class => "outside_agents_btn btn btn-small"
    #new_contact.tab-pane
      .contacts.new_contact_well
        = form_for @contact = User.new, :url => add_new_contact_transactions_path, :remote => true, :method => :post, :html => {:class => "json_validate new_transaction_contact"} do |f|
          = render "/contacts/form", :f => f, :role_present => true
    