.checklist{:id => dom_id(checklist)}
  
  %h4.sub-heading
    = checklist.checklist_master.name if checklist.checklist_master
  
  .checklist-progress{:id => "bar_#{dom_id(checklist)}"}
    = render "checklists/bar", :checklist => checklist

  %table
    %tbody{:id => "item_#{dom_id(checklist)}"}
      = render "checklists/items_list", :checklist_items => checklist.checklist_items
        
  = render "checklist_items/form", :checklist => checklist
  
  .checklist-actions
    - unless disable_access(:add_remove_checklists, @transaction)
      = edit_button "plus", "Add item", "xs", "add_checklist_item"
      = link_to "Remove checklist", checklist_path(checklist), :class => "btn btn-default btn-xs", :method => :delete, :confirm => "Are you sure?", :remote => true unless disable_access(:add_remove_checklists, @transaction)

