%fieldset{:id => "attach_contact_user_#{user_id}"}
  %input{:name => "transaction[attach_contacts_attributes][#{data_regexp}][user_id]", :type => "hidden", :value => "#{user_id}", :id => "transaction_attach_contacts_attributes_#{data_regexp}_user_id"}/
  %input{:name => "transaction[attach_contacts_attributes][#{data_regexp}][role_id]", :type => "hidden", :value => "#{role_id}", :id => "transaction_attach_contacts_attributes_#{data_regexp}_role_id"}/