.row.defailt_padding
  .col-md-4
    .well.well-light
      %h2.text-warning Free
      %ul
        %li= "Minimum monthly fee: 0"
        %li= "Transaction included: 5"
        %li= "Users included: 1"
      %hr
        %p
          %a.btn.btn-success.btn-lg{:href => "/register/free"}
            %i.glyphicon.glyphicon-ok
            Select plan
  - DefaultPlan::PLANS[2..6].each_with_index do |p, index|
    .col-md-4
      .well.well-light
        %h2.text-warning= p
        %ul
          %li= "Minimum monthly fee: $#{DefaultPlan::PRICES[index+2]}"
          %li= "Price per User: $#{DefaultPlan::PRICE_PER_USER[index+2]}"
          %li= "Minimum users included: #{DefaultPlan::USERS_INCLUDED[index+2]}"
        %hr
          %p
            %a.btn.btn-success.btn-lg{:href => "/register/?plan_id=#{index+2}"}
              %i.glyphicon.glyphicon-ok
              Select plan

  .col-md-4
    .well.well-light
      %h2.text-warning Enterprise
      %ul
        %li= "Please contact us for details"
        
      %hr
        %p
          %a.btn.btn-success.btn-lg{:href => "mailto:info@piratetesternow.com"}
            %i.glyphicon.glyphicon-ok
            Select plan