.row
  .col-md-12
    %h1 Locations
.row.defailt_padding
  .col-md-12
    %button.btn.btn-default.add_location_on
      %i.glyphicon.glyphicon-plus-sign 
      Add Location
.row.defailt_padding.add_location_on_well.hidden_item
  .col-md-12
    .well.well-light
      = form_for @location = Location.new do |f|
        = f.text_field :name, :class => "form-control input-xxlarge", :placeholder => "Name"
        = f.submit "Save", :disable_with => 'Submiting...', :class => "btn btn-primary"
        = link_to "Cancel", "#", :class => "add_location_on btn"
.row.defailt_padding
  .col-md-12
    .well.well-light
      %table.table.table-condensed.table-hover
        %thead
          %tr
            %th Location
            %th Users
            %th Total transactions
            %th 
              .pull-right Actions
        %tbody
          = render @locations
            
            